<div class="modal-content">
    <div class="modal-header">
        <h6 class="modal-title" id="promptModal">Information</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p>@ViewBag.MessagePrompt</p>
    </div>
</div>