@model visualarts_cms.Models.Viewmodel.InquiryViewModel

@{
    ViewBag.Title = "Home";
}

<style>
    a.anchor {
        display: block;
        position: relative;
        top: -225px;
        visibility: hidden;
    }
</style>

<div>
    <div class="d-flex flex-row gap-lg-3 my-3" id="home">
        <a class="position-relative w-25 overflow-hidden rounded h-75 shadow" style="max-height: 400px;" href="/Skills/Index">
            <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid object-fit-cover" />
            <div class="position-absolute bottom-0 start-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Skills needed in visual arts sector
            </div>
        </a>
        <a class="position-relative flex-grow-1 overflow-hidden rounded h-75 shadow" style="max-height:400px;" href="/CurrentTrends/Index">
            <img src="https://images.pexels.com/photos/30829217/pexels-photo-30829217/free-photo-of-vibrant-abstract-expressionist-art-on-canvas.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid object-fit-cover" />
            <div class="position-absolute bottom-0 end-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Current Trends in Visual arts
            </div>
        </a>
    </div>
    <div class="d-flex flex-row mt-3 mb-lg-5 gap-lg-3">
        <div class="w-50 justify-content-center align-content-center">
            <h3 class="m-2 fw-bold">Introduction to Visual Arts Sector</h3>
            <p class="text-justify m-2 mt-4">
                In the context of ICT (Information and Communication Technology), visual arts refers to the use of digital technology and computational tools to create, manipulate, and present visual artworks. This intersection combines artistic creativity with technological innovation, leveraging digital mediums and software to explore new forms of expression and communication.
            </p>
            <a class="btn btn-secondary fw-bold m-2" href="/CurrentTrends/Index">Learn More</a>
        </div>
        <a class="position-relative w-25 overflow-hidden rounded h-75 shadow" style="max-height: 400px;" href="/Tools/Index">
            <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid object-fit-cover" />
            <div class="position-absolute bottom-0 start-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Tools and Equipments
            </div>
        </a>
        <a class="position-relative w-25 overflow-hidden rounded h-75 shadow" style="max-height: 400px;" href="/CareerOpportunities/Index">
            <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid object-fit-cover" />
            <div class="position-absolute bottom-0 start-0 text-white text-outline fw-bold p-3 rounded text-uppercase fs-3">
                Career and Business Opportunities in Visual Arts
            </div>
        </a>
    </div>
    <a class="anchor" id="about"></a>
    <div class="my-md-5 anchor">
        <h2 class="fw-bold text-uppercase">About Us</h2>
        <p class="my-4 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet risus sed nisl egestas egestas. Nunc consectetur iaculis tincidunt. Donec eget mauris ac lacus tincidunt suscipit sit amet feugiat augue. Cras tellus mi, malesuada sed justo sed, dapibus dignissim diam. Aliquam pharetra consequat enim, et eleifend arcu consectetur eu. Nulla mattis libero a nisi pulvinar aliquam. Morbi lobortis mi magna, id pretium nulla cursus id. Curabitur in lectus ac dolor vestibulum iaculis sit amet eget ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc condimentum metus nisi, ac dapibus diam pharetra vitae. </p>
    </div>
    <a class="anchor" id="contact"></a>
    <div class="my-md-5 anchor">
        <h2 class="fw-bold text-uppercase">Get in Touch</h2>
        <div class="d-flex flex-row gap-lg-3">
            <div class="w-50 justify-content-center align-content-center">
                <p class="mx-2">For inquiries, suggestions, collaboration, or other concerns, you can submit them to us using the form provided.</p>
            </div>
            <div class="w-50 justify-content-center align-content-center">
                <div class="card d-flex flex-column align-items-center justify-content-center shadow" style="height:450px;">
                    @using (Html.BeginForm("SubmitInquiry", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "w-100 text-center" }))
                    {
                        @Html.TextBoxFor(m => m.Name, new { @class = "my-3 w-75 form-control required mx-auto", @placeholder = "Name", @required = "required" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "my-3 w-75 form-control required mx-auto", @placeholder = "E-mail Address", @required = "required" })
                        @Html.TextAreaFor(m => m.Message, new { @class = "my-3 w-75 h-25 form-control required mx-auto", @placeholder = "What do you want to say?", @required = "required" })
                        <button class="btn btn-secondary w-75 mt-5 mb-2">Message Us</button>
                    }
                </div>
            </div>
        </div>
    </div>
    <p class="my-lg-5"></p>
    <p class="my-lg-5"></p>
    <p class="my-lg-5"></p>
    <p class="my-lg-5"></p>
</div>

<main>
</main>