@{
    ViewBag.Title = "Current Trends";

    <style>
        body {
            background-color: #3e5879;
        }
    </style>
}

<div>
    <div name="heading" class="text-white text-center">
        <h1 class="fw-bold">CURRENT TRENDS IN VISUAL ARTS</h1>
        <p class="my-3">The world of visual arts is rapidly evolving, with innovative technologies and new perspectives shaping the landscape of creative expression. As we move through 2024, trends such as AI-generated art, virtual and augmented reality, NFTs, glitch art, interactive creations, hyperrealism, and social commentary are reshaping how we understand and experience art. These developments are not just enhancing traditional practices but are pushing boundaries, challenging the status quo, and offering artists new platforms for collaboration, exploration, and activism. Let’s delve into these trends that are defining the future of visual arts.</p>
    </div>
    <br  />
    <div name="trends" class="my-1">
        <div class="container">
            <div class="row justify-content-center my-4">
                <a class="col text-center" href="/CurrentTrends/Read">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase">Hyperrealism</span>
                        </div>
                    </div>
                </a>
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase">Glitch Art</span>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center my-4">
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <div class="position-relative overflow-hidden rounded" style="max-height: 300px; max-width: 300px; position: relative;">
                        <img src="https://images.pexels.com/photos/3778203/pexels-photo-3778203.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                             class="img-fluid object-fit-cover"
                             style="width: 100%; height: 100%; object-fit: cover; display: block;" />
                        <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));"></div>
                        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: white; font-size: 24px; font-weight: bold; text-align: center;">
                            <span class="text-uppercase"></span>
                        </div>
                    </div>
                </div>
                <div class="col text-center"></div>
                <div class="col text-center"></div>
            </div>
        </div>
    </div>
</div>