@model visualarts_cms.Models.Viewmodel.DashboardViewModel

@{
    ViewBag.Title = "Admin Dashboard";
}

<div>
    <div>
        <div class="head mb-lg-4 fw-bolder">
            <h5>Dashboard</h5>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <a class="card-body" style="height:250px; text-decoration: none;" href="/AdminCurrentTrends/">
                        <h5>@Model.CurrentTrendCount</h5>
                        <h5>Current Trends</h5>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <a class="card-body" style="height:250px; text-decoration: none;" href="/AdminInquiries/">
                        <h5>@Model.InquiryCount</h5>
                        <h5>Inquiries</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <h5 class="mb-3">Recent Entries</h5>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-start align-items-center">
                        @foreach (var item in Model.CurrentTrendList)
                        {
                            <a class="card m-2 d-flex flex-column" style="width: 14vw; height: 300px; text-decoration: none;" href="/AdminCurrentTrends/View/@item.CurrentTrendId">
                                <img class="card-img-top" src="~/Content/Upload/Image/@item.ImagePath" alt="Card image cap" style="height: 150px; object-fit: cover;">
                                <div class="card-body my-2 d-flex flex-column justify-content-between">
                                    <h5 class="card-title" style="font-size: 1rem;">@item.Title</h5>
                                    <p class="card-text"><small class="text-muted">Last created @item.CreatedDateStr</small></p>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
