@{
    ViewBag.Title = "Admin Dashboard";
}

<div>
    <div>
        <div class="head mb-lg-4 fw-bolder">
            <h5>Dashboard</h5>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" style="height:250px;">
                        <h5>0</h5>
                        <h5>Current Trends</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" style="height:250px;">
                        <h5>0</h5>
                        <h5>Inquiries</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-3">
            <h5 class="mb-3">Recent Entries</h5>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <div class="card m-2" style="height: 200px;">
                            <div class="card-body">
                                <h5>Lorem ipsum</h5>
                            </div>
                        </div>
                        <div class="card m-2" style="height: 200px;">
                            <div class="card-body">
                                <h5>Lorem ipsum</h5>
                            </div>
                        </div>
                        <div class="card m-2" style="height: 200px;">
                            <div class="card-body">
                                <h5>Lorem ipsum</h5>
                            </div>
                        </div>
                        <div class="card m-2" style="height: 200px;">
                            <div class="card-body">
                                <h5>Lorem ipsum</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
