/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.text-justify {
    text-align: justify;
}

.text-outline {
    text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
}

.footer-bg {
    background-color: #36454F;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
}